<!DOCTYPE html>
<html>
  <head>
    <title>Metric <-> Imperial Converter</title>
    <meta name="description" content="A simple metric to imperial converter" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <header>
      <h1>
        Metric and Imperial Conversion
      </h1>
    </header>
    <main>
  
      <div id="testui">
        <form id="convertForm" class="border">
          <input
            type="text"
            id="convertField"
            name="input"
            placeholder="3.1mi"
           
          />
          <input id="convert" type="button" value="Convert" />
        </form>
        <div id="result-panel">
          <p id="result-label" class="label">Answer</p>
          <p id="result"></p>
          <p id="result-label" class="label">URL</p>
          <p id="url"></p>
          <p id="json-label" class="label">API response</p>
          <pre id="jsonResult"></pre>
        </div>
      </div>
    </main>
    </body>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function() {
        $("#convertForm").submit(function() {
          event.preventDefault();
          $.ajax({
            url: "/api/convert",
            type: "get",
            data: $("#convertForm").serialize(),
            success: function(data) {
            console.log(this.url)
              $("#result").text(data.string || JSON.stringify(data.error));
              $("#jsonResult").text(JSON.stringify(data, "", 2));
              $("#url").text(`{root}${this.url}`);
              $("#result-panel").attr("style", "display: inline !important");

              
            }
          });
        });
      });
    </script>
  </body>
</html>
